/* style.css */

/* reset */
* {
  margin: 0; padding: 0;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #363636;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #363636;
}
html, body {
  height: 100%;
}
/* 메인헤더 */
#main_header {
  position: fixed;
  /* background: #391277; */
  width: 100%;
  height: 60px;
  color: #fff;
  z-index: 999;
  transition: 0.4s;
}
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#main_header h1 {
  position: absolute;
  top: 10px;
  color: #FDD65B;
}
#main_header h1 a {
  color: #FDD65B;
}
#main_gnb > ul {
  position: absolute;
  top: 22px;
  right: 0;
}
#main_gnb > ul > li {
  display: inline-block;
  margin-left: 70px;
}
#main_gnb > ul > li > a {
  color: #fff;
  font-size: 16px;
}
#main_gnb > ul > li > a:hover {
  color: #FDD65B;
}
.down {
  background-color:rgba(0,0,0,0.8);
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}
/* 메인비주얼 */
#main_banner {
  /* position: relative; */
  /* background-image: url("../images/"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100%;
  background: #5719b7
}
#cheese {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}
/* about */
#about {
  height: 670px;
  background: #F0F2FF;
}
h2 {
  text-align: center;
  padding-top: 25px;
  /* padding-bottom: 5px; */
  font-size: 30px;
  font-weight: bold
  color: ;
}
h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
  color: #FDD65B;
}
h4 {
  font-size: 18px;
  font-weight: bold;
}
h5 {
  font-size: 22px;
  font-weight: bold;
}
#about h2 {
  margin-bottom: 80px;
}
#about ul li {
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 3px;
}
.ab_line {
  display: block;
  border: 0.7px solid #363636;
  margin-top: 12px;
  margin-bottom: 12px;
}
/* about-career */
#about .career {
  float: left;
  width: 420px;
  height: 200px;
  /* background: #ccc; */
}
/* about-license */
#about .license {
  float: right;
  width: 420px;
  height: 200px;
  /* background: #ccc; */
}
/* about-education */
#about .education {
  clear: both;
  float: left;
  margin-top: 30px;
  width: 420px;
  height: 200px;
  /* background: #ccc; */
}
/* about-skill */
#about .skill {
  float: right;
  margin-top: 30px;
  width: 420px;
  height: 200px;
  /* background: #ccc; */
}
/* skill graph */
#about .skill li {
  /* display: inline-block; */
  /* outline: 1px solid red; */
}
#about .skill ul {
  float: left;
}
#about .graph-right {
  float: right;
  width: 240px;
  /* outline: 1px solid red; */
}
#about .graph {
  /* float: right; */
  height: 10px;
  width: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #FDD65B;
  margin-top: 18px;
}
#about .graph:nth-child(1) {
  margin-top: 7px;
}
.fill {
  /* float: right; */
  height: 10px;
  width: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #FDD65B;
  margin-top: 18px;
  transition: ease-in;
}
.fill:nth-child(1) {
  margin-top: 8px;
  width: 180px;
  transition: 2.2s;
}
.fill:nth-child(2) {
  /* margin-top: 7px; */
  width: 130px;
  transition: 2.2s;
}
.fill:nth-child(3) {
  /* margin-top: 7px; */
  width: 100px;
  transition: 2.2s;
}
.fill:nth-child(4) {
  /* margin-top: 7px; */
  width: 60px;
  transition: 2.2s;
}
/* swiper */
.swiper-container {
  position: relative;
  clear: both;
  width:1200px;
  height:670px;
  /* border:5px solid silver; */
  /* border-radius:7px; */
  /* box-shadow:0 0 20px #ccc inset; */
}
.swiper-slide {
  /* text-align:center; */
  display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items: center; /* 위아래 기준 중앙정렬 */
  justify-content: center; /* 좌우 기준 중앙정렬 */
}
/* publishing */
#publishing {
  background: #fff;
  height: 800px;
}
/* portfolio */
#publishing .imac > img {
  position: absolute;
  left: 120px; top: 60px;
  /* float: left; */
  display: block;
  /* outline: 1px solid red; */
}
#publishing .info {
  position: absolute;
  top: 85px; right: 140px;
  /* float: right; */
  width: 200px;
  height: 500px;
  background: #fff;
}
#publishing .info_line {
  display: block;
  border: 0.7px solid #363636;
  margin-top: 5px;
  margin-bottom: 5px;
}
#publishing .info h5 {
  font-size: 18px;
  margin-top: 20px;
}
#publishing .info .h5_2 {
  margin-top: 60px;
}
#publishing .info p {
  font-size: 14px;
  height: 60px;
}
#publishing .info .p-2 {
  height: 35px;
  /* outline: 1px solid red; */
}
/* 원형그래프 */
.pie-chart {
  position: relative;
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
  margin-left: 10px;
}
span.center{
  background: #fff;
  display : block;
  position: absolute;
  top:50%; left:50%;
  width:40px; height:40px;
  border-radius: 50%;
  text-align:center; line-height: 40px;
  font-size: 11px;
  transform: translate(-50%, -50%);
}

/* info 버튼 */
#publishing .info a {
  display: block;
  text-align: center;
  line-height: 40px;
  border: 2px solid #363636;
  width: 160px;
  height: 40px;
  font-size: 14px;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  margin: 0 auto;
  transition: 0.2s;
  margin-top: 40px;
}
#publishing .info a:hover {
  background-color: #363636;
  color: #fff;
}

/* design */
#s2 {
  background: #F0F2FF;
  padding-bottom: 100px;
}
#s2 .container { text-align: center;}
#s2 ul {
  opacity: 0;
  /* margin: 20px auto; */
  /* width: 70%; */
  /* border: 2px solid blue; */
  overflow: hidden;
  margin-top: 20px;
  
}
#s2 li{
  /* width: 33.33%; */
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
#s2 li:nth-child(1) {
  margin-left: 0;
}
#s2 li:nth-child(4) {
  margin-left: 0;
}
#s2 li img { 
  width: 100%;
  display: block;
}
/* css animation */
.fade-slide-down{
  animation-name: fade-slide-down;
  animation-duration: 0.6s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;    
  opacity: 0;
}

.fade-slide-right{
  animation-name: fade-slide-right;
  animation-duration: 0.6s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;    
  opacity: 0;
}

.ani-delay_1{ animation-delay: 0.5s;}
.ani-delay_1_5{ animation-delay: 0.5s;}
.ani-delay_2{ animation-delay: 1s;}

@keyframes fade-slide-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* design 호버효과 */
/* @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css); */
figure.snip1384 {
font-family: 'Noto Sans KR', sans-serif;
position: relative;
overflow: hidden;
/* margin: 10px; */
width: 100%;
color: #ffffff;
text-align: left;
font-size: 16px;
background-color: #000000;
}
figure.snip1384 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.5s ease;
}
figure.snip1384 img {
max-width: 100%;
backface-visibility: hidden;
vertical-align: top;
}
figure.snip1384:after,
figure.snip1384 figcaption {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
figure.snip1384:after {
content: '';
background-color: rgba(0, 0, 0, 0.4);
-webkit-transition: all 0.35s ease;
transition: all 0.5s ease;
opacity: 0;
}
figure.snip1384 figcaption {
z-index: 1;
padding: 40px;
}
figure.snip1384 h3,
figure.snip1384 .links {
width: 100%;
margin: 5px 0;
padding: 0;
}
figure.snip1384 h3 {
line-height: 1.1em;
/* font-weight: 700; */
font-size: 1.4em;
text-transform: uppercase;
opacity: 0;
}
figure.snip1384 p {
font-size: 0.8em;
/* font-weight: 300; */
letter-spacing: 1px;
opacity: 0;
top: 50%;
margin-top: 20px;
-webkit-transform: translateY(40px);
transform: translateY(40px);
font-family: 'Noto Sans KR', sans-serif;
}
figure.snip1384 i {
position: absolute;
bottom: 10px;
right: 10px;
padding: 20px 25px;
font-size: 34px;
opacity: 0;
-webkit-transform: translateX(-10px);
transform: translateX(-10px);
}
figure.snip1384 a {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}
figure.snip1384:hover img,
figure.snip1384.hover img {
zoom: 1;
filter: alpha(opacity=50);
-webkit-opacity: 0.5;
opacity: 0.5;
}
figure.snip1384:hover:after,
figure.snip1384.hover:after {
opacity: 1;
position: absolute;
top: 10px;
bottom: 10px;
left: 10px;
right: 10px;
}
figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
-webkit-transform: translate(0px, 0px);
transform: translate(0px, 0px);
opacity: 1;
}
#s2 li {
float: left;
}

/* contact */
#contact {
  clear: both;
  position: relative;
  background: #fff;
  height: 580px;
}
.contact-line {
  display: block;
  text-align: center;
  width: 40px;
  border: 2px solid #FDD65B;
  margin: 0 auto;
  margin-top: 12px;
}
#contact li {
  margin-bottom: 20px;
}
#contact img {
  padding-right: 10px;
  /* padding-bottom: 10px; */
  transform: translateY(8px);
}#contact ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#contact ul li {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /* display: inline; */
  /* margin-right: 20px; */
}
#contact ul li:first-child {
  margin-top: 50px;
  margin-bottom: 50px;
}
#contact ul li:nth-child(2) {
  font-size: 24px;
}
/* top button */
.up {
  position: absolute;
  right: 100px; bottom: 50px;
}
.up a {
  display: block;
  border: 5px solid #FDD65B;
  background: #fff;
}
.up a:hover {
  background: #fdd65b;
  transition: 0.2s;
}
.up a:hover > .up i {
  color: white;
}
.up i {
  font-size: 40px;
  color: #fdd65b;
  /* outline: 1px solid red; */
  padding: 10px;
}
.up i:hover {
  color: #fff;
}